---
import * as interfaces from '../../lib/interfaces.ts'
import { buildHeadingId } from '../../lib/blog-helpers.ts'
import RichText from './RichText.astro'
import NotionBlocks from '../NotionBlocks.astro'

export interface Props {
  block: interfaces.Block
  headings: interfaces.Block[]
}

const { block, headings } = Astro.props

const id = buildHeadingId(block.Heading1)
---

{block.Heading1.IsToggleable ? (
    <details class="toggle">
      <summary>
        <a href={`#${id}`} id={id}>
          <h4>{block.Heading1.RichTexts.map((richText: interfaces.RichText) => <RichText richText={richText} />)}</h4>
        </a>
      </summary>
      <div>
        <NotionBlocks blocks={block.Heading1.Children} headings={headings} />
      </div>
    </details>
  ) : (
    <a href={`#${id}`} id={id}>
      <h4>{block.Heading1.RichTexts.map((richText: interfaces.RichText) => <RichText richText={richText} />)}</h4>
    </a>
  )}

<style>
  .toggle {
  }

  .toggle > summary {
    cursor: pointer;
  }

  .toggle > summary > a {
    display: inline;
  }

  .toggle > summary > a > h4
  {
    display: inline;
  }

  .toggle > div {
    margin-left: 1em;
  }
</style>
