---
import { ENABLE_LIGHTBOX } from '../../server-constants.ts'
import * as interfaces from '../../lib/notion/interfaces'
import Caption from './Caption.astro'

export interface Props {
  block: interfaces.Block
}

const { block } = Astro.props

let image = ''
let expiryTime = ''
let apiURL = ''
if (block.Image.External) {
  image = block.Image.External.Url
} else if (block.Image.File) {
  image = block.Image.File.Url
  expiryTime = block.Image.File.ExpiryTime
  apiURL = new URL(`/api/blocks/${block.Id}.json`, Astro.site)
}
---

<figure class="image">
  {
    image && (
      <div>
        <div>
          {ENABLE_LIGHTBOX ? (
            <a data-fslightbox href={image} data-type="image">
              <img
                src={image}
                alt="image block"
                data-expiry-time={expiryTime}
                data-api-url={apiURL}
              />
            </a>
          ) : (
            <img
              src={image}
              alt="image block"
              data-expiry-time={expiryTime}
              data-api-url={apiURL}
            />
          )}
        </div>
        <Caption richTexts={block.Image.Caption} />
      </div>
    )
  }
</figure>

<script>
  const elements = document.getElementsByTagName('img')
  Array.from(elements).forEach(async (element) => {
    const expiryTime = element.getAttribute('data-expiry-time')
    if (!expiryTime || Date.parse(expiryTime) > Date.now()) {
      return
    }

    const url = element.getAttribute('data-api-url')
    if (!url) {
      return
    }

    const res = await fetch(url)
    const body = await res.text()
    const block = JSON.parse(body)

    element.setAttribute('src', block.Image.File.Url)

    if (
      element.parentNode.tagName === 'A' &&
      element.parentNode.getAttribute('data-type') === 'image'
    ) {
      element.parentNode.setAttribute('href', block.Image.File.Url)
    }
  })
</script>

<style>
  .image {
    display: flex;
    margin: 0.2rem auto 0;
  }
  .image > div {
    margin: 0 auto;
  }
  .image > div > div {
  }
  .image > div > div img {
    display: block;
    max-width: 100%;
  }
</style>
