---
import type { SelectProperty } from '../../../lib/interfaces.ts'
import { NUMBER_OF_POSTS_PER_PAGE } from '../../../server-constants.ts'
import {
  getPostsByTag,
  getRankedPosts,
  getAllTags,
  getNumberOfPagesByTag,
} from '../../../lib/notion/client.ts'
import {
  buildPostFeaturedImageURLs,
  buildURLToImageMap,
} from '../../../lib/blog-helpers.ts'
import Layout from '../../../layouts/Layout.astro'
import NoContents from '../../../components/NoContents.astro'
import PostDate from '../../../components/PostDate.astro'
import PostTags from '../../../components/PostTags.astro'
import PostTitle from '../../../components/PostTitle.astro'
import PostFeaturedImage from '../../../components/PostFeaturedImage.astro'
import PostExcerpt from '../../../components/PostExcerpt.astro'
import ReadMoreLink from '../../../components/ReadMoreLink.astro'
import Pagination from '../../../components/Pagination.astro'
import BlogPostsLink from '../../../components/BlogPostsLink.astro'
import BlogTagsLink from '../../../components/BlogTagsLink.astro'
import styles from '../../../styles/blog.module.css'
import '../../../styles/notion-color.css'

export async function getStaticPaths() {
  const allTags = await getAllTags()
  return allTags.map((tag: SelectProperty) => ({ params: { tag: tag.name }}))
}

const { tag } = Astro.params

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPostsByTag(tag, NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPagesByTag(tag),
])

const currentTag = posts[0].Tags.find(t => t.name === tag)

const imageURLs = buildPostFeaturedImageURLs(posts).filter(url => url)
const imageURLMap = await buildURLToImageMap(imageURLs)
---

<Layout title={`Posts in ${tag}`} path={`/blog/tag/${tag}`}>
  <div className={styles.container}>
    <main>
      <header>
        <h2><span class={`tag ${currentTag.color}`}>{tag}</span></h2>
      </header>

      {posts.length === 0 ? (
          <NoContents contents={posts} />
        ) : posts.map(post => (
          <div className={styles.post} key={post.Slug}>
            <PostDate post={post} />
            <PostTags post={post} />
            <PostTitle post={post} />
            <PostFeaturedImage post={post} urlMap={imageURLMap} />
            <PostExcerpt post={post} />
            <ReadMoreLink post={post} />
          </div>
        ))}

      <footer>
        <Pagination tag={tag} currentPage={1} numberOfPages={numberOfPages} />
      </footer>
    </main>

    <aside>
      <BlogPostsLink heading="Recommended" posts={rankedPosts} />
      <BlogTagsLink heading="Categories" tags={tags} />
    </aside>
  </div>
</Layout>
