---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
  getDatabase
} from '../lib/notion/client'
import Layout from '../layouts/Layout.astro'
import NoContents from '../components/NoContents.astro'
import PostCards from '../components/PostCards.astro'
import Pagination from '../components/Pagination.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import BlogTagsLink from '../components/BlogTagsLink.astro'
import CoverImage from '../components/CoverImage.astro'
import TopProfile from '../components/top/TopProfile.astro'
import styles from '../styles/blog.module.css'
import FooterCard from '../components/FooterCard.astro'

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])


---

<Layout title="トップページ" description="" path="/" ogImage="">
  <div slot="header">
    <CoverImage />
  </div>
  
  <div slot="main" class={styles.main}>
    <TopProfile />

    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        <h2>記事一覧</h2>
        <PostCards posts={posts} />
      )
    }

    <footer>
      <Pagination currentPage={1} numberOfPages={numberOfPages} />
    </footer>
  </div>

  <div slot="footer">
    <FooterCard />
  </div>

  <div slot="aside" class={styles.aside}>
    <BlogPostsLink heading="Recommended" posts={rankedPosts} />
    <BlogTagsLink heading="Categories" tags={tags} />
  </div>
</Layout>