---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'

export interface Props {
  heading: string
  posts: Post[]
}

const { heading, posts } = Astro.props
---

<div class="blog-posts-link">
  <h2>{heading}</h2>
  {
    posts.length === 0 ? (
      <NoContents contents={posts} />
    ) : (
      <ul>
        {posts.map((post: Post) => (
          <li>
            <a
              href={getPostLink(post.Slug)}
              title={`${post.Icon?.Emoji || ''}${post.Title}`}
            >
              {post.Icon && post.Icon.Type === 'emoji' ? (
                <>
                  <span>{post.Icon.Emoji}</span>
                  {post.Title}
                </>
              ) : post.Icon && post.Icon.Type === 'external' ? (
                <>
                  <img
                    src={post.Icon.Url}
                    alt="Post title icon in a link list"
                  />
                  {post.Title}
                </>
              ) : (
                post.Title
              )}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</div>

<style>
  .blog-posts-link {
  }
  .blog-posts-link h2 {
    margin: 0;
    padding-left: 0.4rem;
    color: #777;
    font-size: 0.95rem;
  }
  .blog-posts-link ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.4rem;
    margin-block-end: 1rem;
  }
  .blog-posts-link ul li {
  }
  .blog-posts-link ul li a {
    display: block;
    border-radius: var(--radius);
    padding: 0.4rem 0.4rem;
    line-height: 1.2rem;
    color: inherit;
    font-size: 0.95rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .blog-posts-link ul li a:hover {
    background-color: #ddd;
  }
  .blog-posts-link ul li a span,
  .blog-posts-link ul li a img {
    display: inline-block;
    margin-right: 0.2rem;
  }
  .blog-posts-link ul li a img {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: sub;
  }
</style>
