---
import type { SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'
import '../styles/notion-color.css'

export interface Props {
  heading: string
  tags: SelectProperty[]
}

const { heading, tags } = Astro.props
---

<div class="blog-tags-link">
  <h3>{heading}</h3>
  {
    tags.length === 0 ? (
      <NoContents contents={tags} />
    ) : (
      <ul>
        {tags.map((tag: SelectProperty) => (
          <li>
            <a href={getTagLink(tag.name)} class={`tag ${tag.color}`}>
              {tag.name}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</div>

<style>
  .blog-tags-link h3 {
    padding-left: 0.4rem;
    color: #fff;
  }
  .blog-tags-link ul {
    list-style-type: none;
    padding: 1rem 0;
    margin-top: 0.3rem;
    margin-block-end: 1rem;
    opacity: 0.88;
    display: flex;
    flex-wrap: wrap;
  }
  .blog-tags-link ul li {
    position: relative;
    font-size: 1rem;
    padding: 0.4rem;
    font-size: 0.9rem;
    gap: 6px;
  }
  .blog-tags-link ul li a {
    min-width: 0;
    border-radius: 3px;
    padding: 4px 8px;
    line-height: 1.2;
    color: rgb(50, 48, 44);
    background: rgba(227, 226, 224, 0.5);
  }
</style>
