---
import type { SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'
import '../styles/notion-color.css'

export interface Props {
  heading: string
  tags: SelectProperty[]
}

const { heading, tags } = Astro.props
---

<div class="blog-tags-link">
  <h2>{heading}</h2>
  {
    tags.length === 0 ? (
      <NoContents contents={tags} />
    ) : (
      <ul>
        {tags.map((tag: SelectProperty) => (
          <li>
            <a href={getTagLink(tag.name)} class={`tag ${tag.color}`}>
              #{tag.name}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</div>

<style>
  .blog-tags-link {
    display: grid;
    gap: 20px;
  }
  .blog-tags-link h2 {
    font-size: 24px;
    margin: 0;
  }
  .blog-tags-link ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding-left: 0;
  }
  .blog-tags-link ul li {
    position: relative;
    line-height: 1.2rem;
    font-size: 0.9rem;
    gap: 6px;
  }
  .blog-tags-link ul li a {
    min-width: 0;
    border-radius: 3px;
    padding: 2px 6px;
    line-height: 1.2;
    color: rgb(50, 48, 44);
    background: rgba(227, 226, 224, 0.5);
  }
</style>
