---
import { Post } from '../lib/interfaces.ts'
import { getNavLink, getPostLink } from '../lib/blog-helpers.ts'
import PostTags from './PostTags.astro'

export interface Props {
  prevPost: Post
  nextPost: Post
}

const { prevPost, nextPost } = Astro.props
---

<div class='flex p-2 text-sm'>
  <div>
    {
      nextPost && (
        <a href={getPostLink(nextPost.Slug)} class='colored'>
          <div>次</div>
          <div>{nextPost.Title}</div>
          <PostTags post={nextPost} enableLink={false} />
        </a>
      )
    }
  </div>
  <div class='flex-1 border-r-2 w-2 mx-4'></div>
  <div>
    {
      prevPost && (
        <a href={getPostLink(prevPost.Slug)} class='colored'>
          <div>前</div>
          <div>{prevPost.Title}</div>
          <PostTags post={prevPost} enableLink={false} />
        </a>
      )
    }
  </div>
</div>
