---
import { Post } from '../lib/interfaces.ts'
import type { Post, SelectProperty } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'
import { getPostLink } from '../lib/blog-helpers.ts'
import { getDateStr } from '../lib/blog-helpers.ts'
import { getTagLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  enableLink: boolean
}

const { post, enableLink = true } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}

let title = post.Title
---

<article class="card">
  <div class="card-thumb">
    {image && <img src={image} alt="Featured image of the post" />}
  </div>
  <ul class="card-tags">
    {
      post.Tags &&
        post.Tags.length > 0 &&
        post.Tags.map((tag: SelectProperty) => {
          if (enableLink) {
            return (
              <li class="card-tag">
                <a href={getTagLink(tag.name)} class={`card-tag-link ${tag.color}`}>
                  #{tag.name}
                </a>
              </li>
            )
          }
          return <span class={`tag ${tag.color}`}>{tag.name}</span>
        })
    }
  </ul>
  <h2 class="card-title">
    {title}
  </h2>
  <!-- <p class="card-date">
    {post.Date ? getDateStr(post.Date) : ''}
  </p> -->
  <a href={getPostLink(post.Slug)} class="card-link"></a>
</article>

<style>
  .card {
    position: relative;
  }
  .card-thumb {
    border-radius: 8px;
    flex-basis: 30%;
    flex-shrink: 0;
    padding: 0.6rem 0 0.2rem;
  }
  .card-thumb img {
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
  }
  .card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0;
  }
  .card-tag {
    font-size: 0.9rem;
    gap: 6px;
    line-height: 1.2rem;
    position: relative;
  }
  .card-tag-link {
    background: rgba(227, 226, 224, 0.5);
    border-radius: 3px;
    color: rgb(50, 48, 44);
    line-height: 1.2;
    min-width: 0;
    padding: 2px 6px;
    position: relative;
    z-index: 2;
  }
  .card-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
  }
  .card-date {
    margin-top: 10px;
  }
  .card-link {
    position: absolute;
    inset: 0;
    z-index: 1;
  }
</style>
