---
import { getNavLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: {
    Title: string
    Icon?: {
      Type: 'emoji' | 'external'
      Emoji?: string
      Url?: string
    }
  }
  enableLink: boolean
  className?: string
}

const { post, enableLink = true, className } = Astro.props

let title = post.Title
---

<h2 class={className}>
  {
    enableLink ? (
      <a href={getNavLink('/')}>
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span>{post.Icon.Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img src={post.Icon.Url} alt='Post title icon' />
            {title}
          </>
        ) : (
          title
        )}
      </a>
    ) : (
      <>
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span>{post.Icon.Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img src={post.Icon.Url} alt='Post title icon' />
            {title}
          </>
        ) : (
          title
        )}
      </>
    )
  }
</h2>
<style>
  span {
    font-size: 1.2em;
    display: inline-block;
    margin-right: 0.2em;
  }
  img {
    text-align: center;
    display: inline-block;
    width: 2.5rem;
    vertical-align: sub;
  }
</style>
