---
import { PUBLIC_GA_TRACKING_ID, ENABLE_LIGHTBOX } from '../server-constants.ts'
import { getDatabase } from '../lib/notion/client.ts'
import { getNavLink, getStaticFilePath, filePath } from '../lib/blog-helpers.ts'
import '../styles/syntax-coloring.css'
import GoogleAnalytics from '../components/GoogleAnalytics.astro'
import SearchModal from '../components/SearchModal.astro'
import SearchButton from '../components/SearchButton.astro'

export interface Props {
  title: string
  description: string
  path: string
  ogImage: string
}

const { title = '', description = '', path = '/', ogImage = '' } = Astro.props

const database = await getDatabase()

const siteTitle = title ? `${title} - ${database.Title}` : database.Title
const siteDescription = description ? description : database.Description
const siteURL = new URL(getNavLink(path), Astro.site).toString()
const siteOGImage = new URL(
  getStaticFilePath('/default-og-image.png'),
  Astro.site
)

let coverImageURL: string
if (database.Cover) {
  if (database.Cover.Type === 'external') {
    coverImageURL = database.Cover.Url
  } else if (database.Cover.Type === 'file') {
    try {
      coverImageURL = filePath(new URL(database.Cover.Url))
    } catch (err) {
      console.log('Invalid DB cover image URL')
    }
  }
}

let customIconURL: string
if (database.Icon && database.Icon.Type === 'file') {
  try {
    customIconURL = filePath(new URL(database.Icon.Url))
  } catch (err) {
    console.log('Invalid DB custom icon URL')
  }
}
---

<!doctype html>
<html lang="jaen" prefix="og: https://ogp.me/ns#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="max-image-preview:large" />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <link rel="canonical" href={siteURL} />
    <meta property="og:url" content={siteURL} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:site_name" content={database.Title} />
    <meta property="og:image" content={ogImage || siteOGImage} />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={siteDescription} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={ogImage || siteOGImage} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
      integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <GoogleAnalytics trackingId={PUBLIC_GA_TRACKING_ID} />
    <div class="container">
      <header>
        <h1>
          <a href={getNavLink('/')}>
            {
              database.Icon && database.Icon.Type === 'emoji' ? (
                <>
                  <span>{database.Icon.Emoji}</span>
                  {database.Title}
                </>
              ) : database.Icon &&
                database.Icon.Type === 'external' &&
                database.Icon.Url !==
                  'https://www.notion.so/icons/cellular_purple.svg' ? (
                <>
                  <img src={database.Icon.Url} alt="Site icon image" />
                  {database.Title}
                </>
              ) : database.Icon && database.Icon.Type === 'file' ? (
                <>
                  <img
                    src={customIconURL}
                    class="custom-icon"
                    alt="Site icon image"
                  />
                  {database.Title}
                </>
              ) : (
                database.Title
              )
            }
          </a>
        </h1>
        <div class="description">
          {database.Description}
        </div>
      </header>

      <div class="content-wrapper">
        <aside>
          <SearchButton />
          <slot name="aside" />
        </aside>
        <main>
          <div class="content">


            <slot name="main" />

            <footer>
              <div>
                <span>Powered by&nbsp;</span>
                <a href="https://github.com/otoyo/astro-notion-blog"
                  >astro-notion-blog</a
                >
              </div>
            </footer>
          </div>
        </main>
      </div>
    </div>

    <SearchModal />
    {
      ENABLE_LIGHTBOX && (
        <script src={getStaticFilePath('/scripts/fslightbox.js')} />
      )
    }
  </body>
</html>

<style>
  .container {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
  }

  .site-header {
    width: 1280px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .content-wrapper {
    display: flex;
    margin-top: 20px;
  }

  main {
    flex: 1;
    margin-left: 20px;
  }

  aside {
    width: 300px;
  }

  @media (max-width: 1280px) {
    .container {
      padding: 0 20px;
    }

    .content-wrapper {
      flex-direction: column;
    }

    aside {
      width: 100%;
      margin-bottom: 20px;
    }

    main {
      margin-left: 0;
    }
  }
</style>
